<!DOCTYPE html>
<html lang="en-US">
{{> head}}
<title>Artists</title>
<style>
    .footer{
		position:relative;
    }
    .one-third{
    	height: 300px !important;
    	    	margin-bottom: 10px;
    }
    .img-thumb{
    	height: 100%;
    	width: 100%;
    }
    .artist-thumbnail{
    	height: 100%;
    	width: 100%;	
    }
</style>
<body class="page page-id-361 page-template page-template-template-left-php" onload="loadArtists()">
	<div class="wrapper site-wrapper">
		{{> navbar}}
		<div class="page-title wrapper">
			<div class="container">
				<h1>  Artists</h1>
				<div class="clear"></div>
			</div>
		</div><!--/ page title-->
		<div class="content wrapper">
			<div class="container">
				<p>&nbsp;</p>
				<div class="listing-block" id="content">
					{{#each artists}}
						<div class="one-third column">
							<div class="artist-thumbnail">
								<a href="artist/{{this._id}}">
									<img src="{{this.img}}" alt="{{this.name}}" class="img-thumb"/>
								</a>
								<div class="ribbon-caption">
									<a href="artist/{{this._id}}" class="ribbon-caption-title">
										<span>{{this.name}}</span>
										<span class="ribbon-caption-background"></span>
									</a>
								</div>
							</div>	
						</div>
					{{/each}}
					
				</div>
			</div>	
		</div><!--/ content-->
	</div><!--/ site-->
		{{> footer}}

	<script>
		
	</script>
</body>
</html>